---
import { getCollection } from 'astro:content';
const collection = await getCollection('layout');

type CollectionItem = {
  slug: string;
  data: {
    name: string;
    noun?: string;
  };
};

const allComponents: CollectionItem[] = collection.map((page) => ({
  slug: page.slug,
  data: {
    name: `${page.data.name}`,
    noun: `${page.data.noun}`,
  },
}));

allComponents.push(
  {
    slug: 'app-bar',
    data: {
      name: 'App bar',
      noun: 'layout',
    },
  },
  {
    slug: 'content-columns',
    data: {
      name: 'Content columns',
      noun: 'layout',
    },
  },
  {
    slug: 'fab-tray',
    data: {
      name: 'FAB tray',
      noun: 'layout',
    },
  },
  {
    slug: 'editor-layout',
    data: {
      name: 'Editor layout',
      noun: 'edit',
    },
  },
  {
    slug: 'dialog',
    data: {
      name: 'HTML Dialog styling and usage',
      noun: 'layout',
    },
  },
);
---
<h2>App Layout Comps</h2>
<p>{allComponents.length} pages.</p>

{allComponents.map(p => (
    <ul>
      <li><a href={'/layout/'+p.slug}>
        {p.data.noun ? <cn-icon noun={p.data.noun} xsmall /> : ''}
        {p.data.name}
      </a></li>
    </ul>
  ))}